/* ============================================================
   Rosé Pine Dawn for Waybar
   ============================================================ */

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #faf4ed;
    border-bottom: 3px solid #cecacd;
    color: #575279;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #f2e9e1;
}

window#waybar.chromium {
    background-color: #faf4ed;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #907aa9;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #797593;
}

#workspaces button:hover {
    background: #f4ede8;
    color: #575279;
}

#workspaces button.focused {
    background-color: #dfdad9;
    color: #907aa9;
    box-shadow: inset 0 -3px #907aa9;
}

#workspaces button.urgent {
    background-color: #b4637a;
    color: #faf4ed;
}

#mode {
    background-color: #dfdad9;
    border-bottom: 3px solid #907aa9;
    color: #575279;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#custom-powerprofile {
    padding: 0 10px;
    color: #575279;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #dfdad9;
    color: #907aa9;
}

#battery {
    background-color: #fffaf3;
    color: #575279;
}

#battery.charging,
#battery.plugged {
    color: #faf4ed;
    background-color: #286983;
}

@keyframes blink {
    to {
        background-color: #fffaf3;
        color: #575279;
    }
}

#battery.critical:not(.charging) {
    background-color: #b4637a;
    color: #faf4ed;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #cecacd;
}

#cpu {
    background-color: #286983;
    color: #faf4ed;
}

#memory {
    background-color: #907aa9;
    color: #faf4ed;
}

#disk {
    background-color: #ea9d34;
    color: #faf4ed;
}

#backlight {
    background-color: #56949f;
    color: #faf4ed;
}

#network {
    background-color: #286983;
    color: #faf4ed;
}

#network.disconnected {
    background-color: #b4637a;
    color: #faf4ed;
}

#pulseaudio {
    background-color: #ea9d34;
    color: #faf4ed;
}

#pulseaudio.muted {
    background-color: #dfdad9;
    color: #9893a5;
}

#wireplumber {
    background-color: #56949f;
    color: #faf4ed;
}

#wireplumber.muted {
    background-color: #b4637a;
    color: #faf4ed;
}

#custom-media {
    background-color: #907aa9;
    color: #faf4ed;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #286983;
    color: #faf4ed;
}

#custom-media.custom-vlc {
    background-color: #ea9d34;
    color: #faf4ed;
}

#temperature {
    background-color: #d7827a;
    color: #faf4ed;
}

#temperature.critical {
    background-color: #b4637a;
    color: #faf4ed;
}

#tray {
    background-color: #fffaf3;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #b4637a;
}

#idle_inhibitor {
    background-color: #dfdad9;
    color: #797593;
}

#idle_inhibitor.activated {
    background-color: #907aa9;
    color: #faf4ed;
}

#mpd {
    background-color: #286983;
    color: #faf4ed;
}

#mpd.disconnected {
    background-color: #b4637a;
    color: #faf4ed;
}

#mpd.stopped {
    background-color: #dfdad9;
    color: #9893a5;
}

#mpd.paused {
    background-color: #56949f;
    color: #faf4ed;
}

#language {
    background: #907aa9;
    color: #faf4ed;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #56949f;
    color: #faf4ed;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: #f4ede8;
}

#scratchpad.empty {
    background-color: transparent;
}

#custom-powerprofile {
    min-width: 20px;
    color: #faf4ed;
}

#custom-powerprofile.power-saver {
    background-color: #286983;
}

#custom-powerprofile.balanced {
    background-color: #907aa9;
}

#custom-powerprofile.performance {
    background-color: #b4637a;
}
